---
layout: default
title: Post分页
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
<h1><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h1>
<p class="author">
    <span class="date">{{ post.date }}</span>
</p>
{% comment %}
<div class="content">
    {{ post.content }}
</div>
{% endcomment %}
{% endfor %}

<!-- Pagintion links -->
<div class="pagination">
    {% if paginator.previous_page %}
    <a class="previous" href="{{ paginator.previous_page_path | relative_url }}">Previous</a>
    {% else %}
    <span class="previous">Previous</span>
    {% endif %}

    <span class="page_number">
        Page: {{ paginator.page }} of {{ paginator.total_pages }}
    </span>

    {% if paginator.next_page %}
    <a class="next" href="{{ paginator.next_page_path | relative_url }}">Next</a>
    {% else %}
    <span class="next">Next</span>
    {% endif %}
</div>
